/*flex*/

.flex {
  display: flex;
  background-color: #ddd;
  margin-bottom: 20px;
}

body {
  padding-bottom: 500px;
}

/*flex column*/

.flex-column {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

/*wrap*/

.wrap {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.box,
.box-big,
.box-small
{
  height: 40px;
  width: 33%;
  border: 1px solid red;
}

/*justify-content */

.center,
.space-around,
.space-between,
.end {
  display: flex;
  margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box {
  width: 50px;
}

.center .box {
  width: 50px;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}

.end {
  justify-content: end;
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
/*Align Items*/

.center,
.align-center,
.flex-end,
.stretch {
  display: flex;
  margin-bottom: 20px;
  height: 200px;
  border: 1px solid blue;
}

.align-center .box,
.flex-end .box,
.stretch .box {
  width: 50px;
}

.align-center {
  align-items: center; /*centraliza o eixo vertical*/
  justify-content: center; /*centraliza o eixo horizontal (desde q o container q carrega eles contenham a propriedade display:flex)*/
}

.flex-end {
  align-items: flex-end;
}

.stretch {
  align-items: stretch;
}

.stretch .box {
  height: auto;
}
/*Gap*/

.gap {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
  gap: 10px;
  justify-content: center;
}
.gap .box {
  width: 32%;
}


/*order*/

.order{
  display: flex;
}

#one{
  order: 1;
}

#two{
  order: 2;
}

#three{
  order: 3;
}

/*grow*/

.grow{
  display: flex;
}

.grow .box {
  flex: 1;
}

.grow .box-big{
  flex: 2;
}
/*basis*/

.basis{
  display:flex;
}

.basis .box{
  flex-basis: 20px;
}

.basis .box-big{
  flex-grow: 1;
}

/*shrink*/

.shrink{
  display: flex;
}

.shrink .box{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px
}