/*flex*/

.flex{
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

body{
    padding-bottom: 500px;
}

/*flex column*/

.flex-column{
    background-color: #ccc;
    display: flex;
    flex-direction: column;
}

/*wrap*/

.wrap{
    background-color: beige;
    display: flex;
    margin-bottom: 20px;
}

.box