/*flex*/

.flex {
  display: flex;
  background-color: #ddd;
  margin-bottom: 20px;
}

body {
  padding-bottom: 500px;
}

/*flex column*/

.flex-column {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

/*wrap*/

.wrap {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.box {
  height: 40px;
  width: 33%;
  border: 1px solid red;
}

/*justify-content */

.center,
.space-around,
.space-between,
.end {
  display: flex;
  margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box {
  width: 50px;
}

.center .box {
  width: 50px;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}

.end {
  justify-content: end;
}

/*Align Items*/

.center,
.align-center,
.flex-end,
.strech {
  display: flex;
  margin-bottom: 20px;
  height: 200px;
  border: 1px solid blue;
}
