*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #fafafa;
}

/*Container*/

.main-container{
    display: flex;
    margin-top: 30px;
}

.banner-container,
.form-container{
    flex: 1 1 0;
    width: 50%;
}

.banner-container img {
    width: 100%;
    margin-right: 15px;
    margin-left: 25px;
    max-width: 380px;

}

