@charset "UFT-8";

/*reset*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0ebf8;
}

h1,h2,h3{
    background-color: #333;
}

p, label{
    color:#444
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    width: 400px;
}

