@charset "UFT-8";


h1{
    color: red;
}

@media screen and ( max-width: 500px )
{
    h1 {
        color: blue;
    }
}

@media screen and (min-width: 800px) 
{
  p {
    color: green;
  }  
}
    
