/*Geral*/

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover{
    color: #37a1f7;
}

/*Navbar*/


#navbar{
    padding: 1.5rem 2.5rem;
    
}