@charset "UFT-8";

body{
    padding-bottom: 500px;
}

div{
    margin-bottom: 50px;
}

select{
    margin: 10px;
}

div input,
div label{
    display: block;
    margin: 10px;
    ali
}

.radio label,
.radio input,
.radio span {
    display: inline-block;
}